<div class="centered">
  <h1>Favour Finder</h1>
  <%= form_tag favours_path, :method => :get do %>
      <p>
        <%= text_field_tag :search, params[:search], :id => 'geo-input' %>
        <%= submit_tag "Search Near", :name => nil %>
      </p>
  <% end %>
  <h3>Nearby Favours</h3>
  <% @favours.each do |favour| %>
      <p>
      <div class="res">
        <b><%= favour.title %></b>
      </div>
      </p>
  <% end %>
</div>