<%= provide(:title, @favour.title) %>
<div class="row">
  <aside class="col-md-12">
    <section class="favour_info">
      <h1><%= @favour.title %></h1>
      <p>Asked by <%= @favour.creator %></p>
      <p><%= @favour.description %></p>
    </section>
  </aside>
</div>