<% provide(:title, "About") %>
<h1>About</h1>
<p>
  Helping Hand is meant to help people ask others in their locality for help with the small problems you can encounter day-to-day.
  Currently in prototype phase, a series of surveys will occur to try gather user preferences and customize the experience.
</p>
<p>Example favours include: "Does anyone have jump-leads?", "Where is the nearest free wi-f?"</p>
</body>
</html>