<% provide(:title, "Help") %>
<h1>Help</h1>
<p>
  I'm currently using the tutorials at the
  <a href="http://www.railstutorial.org/help">Rails Tutorial help page</a>
  to help me develop my first few attempts.
</p>
</body>
</html>