<% provide(:title, "Help") %>
<h1>Help</h1>
<p>
  Welcome to Helping Hand!</br>
  </br>
  This application aims to help people ask favours for small problems in their locality.</br>
  </br>
  To use this application please sign up and make an account. From that point you should be able to create favours and view a list of all favours which have been asked. </br>
  If you click into any of these favours you feel you can help with you can read all the details the user has given and can message them if you feel you can help them. </br>
  You can comment on favours or privately message the other user to get their attention.
  </br>
  In future instances of this application I hope to have more location-related functionality worked in, allowing you to see not just all available favours but to also view favours that were asked near to you.

  User ranking will also come into play to see how a user has previously performed in the community.</br>

</p>
</body>
</html>