<h1>New Comment on Favour</h1>

<p>Someone has offered to help you! Check out your listed favour to see if it suits!</p>

<%= link_to "View Favour", favour_url(@favour) %>

<p>Thank you for using Helping Hand.</p>