<h1>Creator commented on Favour</h1>

<p>The creator of the favour you commented on has commented! Check out what they said below:</p>

<%= link_to "View Favour", favour_url(@favour) %>

<p>Thank you for using Helping Hand.</p>