<footer class="footer">
  <small>
    UCD Final Year CS Project
  </small>
  <nav>
    <ul>
      <li><%= link_to 'Please help by giving your feedback!', 'https://cliodhna1.typeform.com/to/W6gwDg' %></li>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Help",    help_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
</footer>